/*
 * Adding web font dancing script to use for headings
 * in the webpage.
 */
@font-face {
	font-family: dancing-script;
	src: url(fonts/DancingScript-Regular.ttf);
}

/*
 * Defining default styling for webpage
 */

* {
	background-color: hsl(60, 96%, 79%);
}

/*
 * Styling of Page footer
 *	- Center alignment
 *	- Lighten text color to light grey
 */
footer {
	text-align: center;
	color: #b2b2b2;
}

/*
 * Stylng for Navigation Bar
 * 	- Center alignment
 */
nav {
	text-align: center;
}

/*
 * Styling for all headings in webpage
 */
.heading {
	text-decoration: overline double red auto;
	font-family: dancing-script;
}

/*
 * Styling for all sub-headings in webpage
 */
.sub-heading {
	text-decoration: underline dotted blue auto;
	font-family: dancing-script;
}

/*
 * Styling for section with id Rec - containing 
 * meeting recordings
 */
#Rec {
	background-color: rgb(193, 255, 193);
}

video, audio {
	background-color: rgb(193, 255, 193);
}
