/*
 * Adding web font dancing script to use for headings
 * in the webpage.
 */
@font-face {
	font-family: dancing-script;
	src: url(fonts/DancingScript-Regular.ttf);
}

/*
 * Defining default styling for webpage
 */

* {
	background-color: hsl(60, 96%, 79%);
}

/*
 * Styling of Page footer
 *	- Center alignment
 *	- Lighten text color to light grey
 */
footer {
	text-align: center;
	color: #b2b2b2;
}

/*
 * Stylng for Navigation Bar
 * 	- Center alignment
 */
nav {
	/*text-align: center;*/
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

[href] {
	flex-grow: 300px;
	flex-shrink: 100px;
}


/*
 * Styling for all headings in webpage
 */
.heading {
	text-decoration: overline double red auto;
	font-family: dancing-script;
}

/*
 * Styling for all sub-headings in webpage
 */
.sub-heading {
	text-decoration: underline dotted blue auto;
	font-family: dancing-script;
}

/*
 * Styling for section with id Rec - containing 
 * meeting recordings
 */
#Rec {
	background-color: rgb(193, 255, 193);
}

video, audio {
	background-color: rgb(193, 255, 193)
}

/*
 * Styling and Box model used for POD section
 */
#POD {
	border: 2px solid aqua;
	border-radius: 0.5cm;

	margin: 1.5ch 1.5ch 1.5ch 1.5ch;

	padding: 3vh 3vh 3vw 3vw;
}

#Agenda {
	border-style: dashed;
	border-color: magenta;
	border-width: 2px;
	border-radius: 0.5cm;
	
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-right: 30pc;
	margin-left: 10pt;

	padding-top: 1pc;
	padding-bottom: 1pc;
	padding-right: 1pc;
	padding-left: 1pc;
}

form {
	width: 70%;
	margin: auto;
}

img {
	min-width: 30%;
	max-width: 80%;
	height: 10cm;
}

a:hover {
	color: orange;
}

a:active {
	color: green;
}

a:visited {
	background-color: cyan;
	font-weight: bold;
}

@media (max-width:600px) {
	p {
		color: red;
	}
}
